/*Setup*/
:root{
  --bodyBg: rgba(0,0,0,0.2);
  --mainBackground:rgba(0,0,0,0.3);
  --secondBackground: rgba(0,0,0,0.1);
  --favList: #4D573D;
  --mainFont: 'Roboto', sans-serif;
  --logoFont: 'Montserrat', sans-serif;
  --buttonBg: rgba(0,0,0,0.2);
  --inputColor: #E8E8E8;
  --titleColor: #F7F7F7;
 }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
  box-sizing: border-box;
  letter-spacing: 0.04em;
}
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  background: var(--bodyBg);
  font-family: var(--mainFont);
}

/*padding standards - demo */

header, main, nav, #restaurant, footer, #favList{
  padding: 0.6em 1em;
}
main div, #dailtMenu, #reviews, nav div{
  padding: 0.3em 0.8em;
}

#addReview, #review{
  padding: 0.1em 0.5em;
}

  /* Main styles */
  
  /* Fav restaurants list styles */

   #favList{
     box-sizing: border-box;
     background: var(--favList);
     position: fixed;
     z-index: 1;
     height: 100%;
     width: 0;
     top: 0;
     right: -2em;
    transition: 0.5s;
   }


  /* header styles */
  header{
    background: var(--mainBackground);
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 15%;
    font-size: 1.3em;
    font-family: var(--logoFont);
  }
  header #siteTitle, header #favTrigger{
    display: flex;
    align-items: center;
  }
  #logo{
    height: 2.2em;
    width: auto;
  }
  #logoTitle{
    padding-left: 0.7em;
    font-weight: bold;
    text-align: center;
  }
  #favIcon{
    height: 1.7em;
    width: auto;
    cursor: pointer;
  }
  #favTrigger{
    justify-content: flex-end;
  }


  /* Main search block styles */
  main{
    background: var(--secondBackground);
    height: 78%;
    display: grid;
    grid-template-rows: 40% 60%; 
  }
  
  #mainLeft, #mainRight{
    position: relative;
  }

  #formTitle{
    color: var(--titleColor);
    font-size: 1.2em;
  }

  main form input{
    margin-top: 0.5em;
  }

  main img{ 
    height: 3.5em;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  /* List of restaurants styles */
  nav{
    background: lightcyan;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(5, 1fr);
  }
  nav div{
    width: 100%;
    height: 100%;
  }

  #filterRestaurants{
    grid-column: span 5;
  }


  /* Display restaurant styles */
  #restaurant{
    background: lightgreen;
  }


  /* Footer styles */
  footer{
    background: var(--mainBackground);
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* button styles */
  input[type='submit'], button{
    border: 4px solid var(--buttonBg);
    border-radius: 8px;
    padding: 0.2em 0.8em;
    font-size: 1em;
    font-family: var(--mainFont);
    font-weight: bold;
    background: var(--mainBackground);
    color: var(--inputColor);
  }

  /*input text style */
  input[type='text']{
    background: var(--mainBackground);
    border: 2px solid var(--buttonBg);
    border-radius: 4px;
    font-size: 0.9em;
    padding: 0.2em 0.4em;
    outline: none;
    color: var(--inputColor);
    font-family: var(--mainFont);
  }

  /* Media queries */
  @media only screen and (min-width: 1080px){
    main{
      grid-template-columns: 40% 60%; 
    }
  }