/*Setup*/
:root{
  --bodyBg: rgba(0,0,0,0.2);
  --mainBackground:rgba(0,0,0,0.3);
  --secondBackground: rgba(0,0,0,0.1);
  --favList: #7D7D7D;
  --mainFont: 'Roboto', sans-serif;
  --logoFont: 'Montserrat', sans-serif;
  --buttonBg: rgba(0,0,0,0.2);
  --inputColor: #E8E8E8;
  --titleColor: #F7F7F7;
 }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
  box-sizing: border-box;
  letter-spacing: 0.04em;
}
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  background: var(--bodyBg);
  font-family: var(--mainFont);
}

/* Scroll styles */
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: #ddd;
}
body::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
html{
    scroll-behavior: smooth;
}

/*padding standards - demo */

header, main, footer{
  padding: 0.6em 1em;
}
.dailyMenu, .reviews, nav div{
  padding: 0.3em 0.8em;
}

.addReview, .review{
  padding: 0.1em 0.5em;
}

.mainRight, .mainLeft{
  padding: 2em;
}

  /* Main styles */
  
  /* Fav restaurants list styles */

    aside{
     box-sizing: border-box;
     background: var(--favList);
     position: fixed;
     z-index: 1;
     height: 100%;
     width: 0;
     top: 0;
     right: -4em;
     transition: 0.5s;
     font-size: 1em;
     padding: 1em 2em;
   }

   .closeFav{
     position: absolute;
     top: 0; 
     right: 0.3em;
     font-size: 2em;
     cursor: pointer;
   }


  /* header styles */
  header{
    background: var(--mainBackground);
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 15%;
    font-size: 1.2em;
    font-family: var(--logoFont);
  }
  .siteTitle, .favTrigger{
    display: flex;
    align-items: center;
  }
  .logo{
    height: 2.2em;
    width: auto;
  }
  .logoTitle{
    padding-left: 0.7em;
    font-weight: bold;
    text-align: center;
  }
  .favIcon{
    height: 1.7em;
    width: auto;
    cursor: pointer;
  }
  .favTrigger{
    justify-content: flex-end;
  }


  /* Main search block styles */
  main{
    background: var(--secondBackground);
    height: 78%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .formTitle{
    color: var(--titleColor);
    font-size: 1.8em;
    text-transform: uppercase;
  }

  .townSearch{
    background: var(--mainBackground);
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.4em;
    padding: 0.2em 0.4em;
    color: var(--inputColor);
    font-family: var(--mainFont);
    outline: none; 
    display: block;
    margin: 0 auto;
  }

  .townFind{
    border: 2px solid var(--buttonBg);
    padding: 0.3em 0.9em;
    font-size: 1.4em;
    font-family: var(--mainFont);
    font-weight: bold;
    background: var(--mainBackground);
    color: var(--inputColor);
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
  }

    button{
    border: 2px solid var(--buttonBg);
    padding: 0.2em 0.8em;
    font-size: 1em;
    font-family: var(--mainFont);
    font-weight: bold;
    background: var(--mainBackground);
    color: var(--inputColor);
    cursor: pointer;
    outline: none;
  }

  .imgDec{ 
    height: 3.5em;
    width: auto;
    position: absolute;
    right: 1em;
    bottom: 1em;
  }

  /* List of restaurants styles Edit when API
    Display: none; by default
    display: grid; with js
  */
  nav{
    background: var(--bodyBg);
    display: grid;
    grid-gap: 1em;
    padding: 1em 2em;
  }
  nav div{
    width: 100%;
    height: 100%;
  }

  .paginationContainer, .filterRestaurants{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resDiv span{
    display: block;
  }
  
  .resImg{
    height: 0.9em;
    width: auto;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
  }

  .resDiv{
    box-shadow: -1px 2px 3px 3px rgba(0,0,0,0.35);
    background:#A6A6A6;
    width: 100%;
    display: grid;
    cursor: pointer;
    position: relative;
    color: var(--titleColor);
    max-width: 650px;
    margin: 0 auto;
  }
  .resTitle,.restaurantName, .dailyMenuTitle{
    font-weight: bold;
    font-size: 1.1em;
  }
  .resAdr, .restaurantAdress{
    font-size: 0.9em;
  }

  
  .dishCnt{
    display: grid;
    grid-template-columns: 1fr 20%;
  }
  .cost{
    text-align: right;
  }

  .dishCnt span{
    display:block;
  }

  /* Display restaurant styles Edit when API
    Display: none; by default
    Display: block; with js
  */
  article{
    background: var(--secondBackground);
    display: grid;
    color: var(--titleColor);
    padding: 2em;
    grid-gap: 0.6em;
  }
  
  .restaurantContainer{
    width: 90%;
    padding: 2.5em;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
    position: relative;
    max-width: 800px;
  }

  .restaurantImg{
    height: 5em;
    width: auto;
  }

  .addFav{
    position: absolute;
    top: 0.8em;
    right: 0.6em;
  }
  .restaurantAvgRating span, .restaurantAvgCost span{
    font-weight: bold;
  }
  .addReviewTitle{
    font-weight: bold;
    font-size: 0.9em;
  }



  /* Footer styles */
  footer{
    background: var(--mainBackground);
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #reviewCustomInput{
    font-size: 0.7em;
    margin-top: 0.3em;
  }
  #reviewSubmit{
    font-size: 0.8em;
    margin-top: 0.3em;
  }
  input::placeholder{
    color: rgba(0,0,0,0.4);
  }


  /*input range styles */
  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 0.4em;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--favList);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 1.4em;
    width: 1em;
    border-radius: 3px;
    background: var(--titleColor);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.6em;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--buttonBg);
  }

  /* Media queries */
  @media only screen and (min-width: 700px){
    :root{
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 1080px){
    :root{
      font-size: 20px;
    }
  }