/*Setup*/
:root{
  --mainBackground:#CE9370;
  --secondBackground: #85D15C;
 }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
  font-family: Roboto;
}
body{
  padding: 0;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 20% 70% 10%;
}

header, main, nav, #restaurant, footer{
  padding: 0.6em 1em;
}

  /*setting some basic block functionality to display everything block */
  header{
    display: grid;
    grid-template-columns: 1fr 10%;
    background: var(--mainBackground);
  }

  main{
    background: var(--secondBackground);
  }

  nav{
    background: lightcyan;

  }

  #restaurant{
    background: lightgreen;
  }

  footer{
    background: var(--mainBackground);
    text-align:center;
  }
  